<div class="row">
  <div>
    <% @categories.each do |category| %>
      <ul><%= link_to category.name, edit_category_path(category) %></ul>
    <% end %>
  </div>

  <div>
     <%= link_to "Add", new_category_path, class: "button button-secondary" %>
  </div>
</div>
