<div calss='container'>
  <div class='row'>
    <div class='three columns'>
      <ul><%= link_to 'Categorized expenses', reports_category_reports_path %></ul>
      <ul><%= link_to 'Monthly balance' %></ul>
      <ul><%= link_to 'Yearly expenses', yearly_expenses_reports_path %></ul>
    </div>
  </div>
</div>
