<div class="row">
  <div class="six columns">
    <%= form_for @account do |f| %>
     <label>Account name</label>
      <%= f.text_field :name, placeholder: "New account" %>
      <%= f.submit class: "button-primary" %>
    <% end %>
  </div>
</div>